# dependencies
/node_modules
/frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/frontend/.gitignore
/frontend/.next/
/frontend/out/

# production
/build

# misc
.DS_Store
*.pem
test

# debug
npm-debug.log*

# local env files
.env

# vercel
.vercel